.banner {
    box-sizing: border-box;
    background-image: url(../assets/image.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 800px;
    border-bottom: 10px solid #000;
    margin-top: -7px;
    padding-top: 174px;
    padding-left: 115px;
    padding-bottom: 38px;
}

.banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 640px;
}

.banner .navigation {
    margin-left: 107px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 112px;
}