.box {
    display: inline-block;
    background-color: #3A4042;
    box-shadow: 10px 10px 0 rgb(24, 24, 24);
    text-align: center;
    padding: 42px 42px;
    margin-bottom: 30px;
}

.box h1 {
    margin-bottom: 28px;
}