.main-description {
    font-size: 30px;
    color: #fff;
    font-family: 'Fira Code', monospace;
    font-weight: 300;
    line-height: 1.3; /* esse 1.3 é um multiplacador do font-size ou seja 30*10.3 */
}