.main-footer {
    display: flex;
    justify-content: center;
    margin-right: 40px;
    background-color: #000;
    padding-top: 28px;
    padding-bottom: 28px;
}

.main-footer .action-footer {
    margin-right: 20px;
   margin-left: 20px;
}