.skill {
    background-color: #F25A70;
    width: 100%;
    height: 730pxs;
}

.skills h1 {
    color: #ffffff;
    font-size: 40px;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 4px 4px #000;
    text-transform: capitalize;
}